<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.final_crime.mappers.CrimeMapper">
    <select id="getCrimeData" parameterType="String" resultType="com.example.final_crime.dto.CrimeDTO">
        select main_crime_class, mid_crime_class, ${region} from crime_region where main_crime_class like '%강력%'
    </select>

    <select id="getOfficeData" resultType="com.example.final_crime.dto.OfficeDTO">
        select * from test limit 1;
    </select>

    <select id="getOffice" parameterType="double" resultType="com.example.final_crime.dto.OfficeDTO">
       <![CDATA[ SELECT * FROM test WHERE 6371 * 2 * ASIN(SQRT(POWER(SIN(RADIANS(${lat} - lat) / 2), 2)+COS(RADIANS(${lat})) * COS(RADIANS(lat)) * POWER(SIN(RADIANS(${lng} - lng) / 2), 2)))<=5 limit 1]]>;
    </select>

    <select id="getOffice1km" parameterType="double" resultType="com.example.final_crime.dto.OfficeDTO">
        <![CDATA[ SELECT * FROM test WHERE 6371 * 2 * ASIN(SQRT(POWER(SIN(RADIANS(${lat} - lat) / 2), 2)+COS(RADIANS(${lat})) * COS(RADIANS(lat)) * POWER(SIN(RADIANS(${lng} - lng) / 2), 2)))<=1 limit 1]]>;
    </select>

    <select id="getOffice2km" parameterType="double" resultType="com.example.final_crime.dto.OfficeDTO">
        <![CDATA[ SELECT * FROM test WHERE 6371 * 2 * ASIN(SQRT(POWER(SIN(RADIANS(${lat} - lat) / 2), 2)+COS(RADIANS(${lat})) * COS(RADIANS(lat)) * POWER(SIN(RADIANS(${lng} - lng) / 2), 2)))<=2 limit 1]]>;
    </select>

    <select id="allOffice" resultType="com.example.final_crime.dto.OfficeDTO">
        select * from test;
    </select>

    <select id="allFacility" resultType="com.example.final_crime.dto.FacilityDTO">
        select * from safe_facility where phone is not null;
    </select>

    <select id="allCenter" resultType="com.example.final_crime.dto.CenterDTO">
        select * from safe_center;
    </select>

    <insert id="uploadLocation" parameterType="com.example.final_crime.dto.UploadDTO">
        insert into report values(0, ${lat},${lng},#{timestamp});
    </insert>


</mapper>